@media (min-width: 992px) and (max-width: 1400px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        border-top: 4px solid rgb(0,120,174);
        box-shadow: 0 3px 3px rgba(132,136,138,.1);
        padding: 0;
        padding-top: 5px;
    }

        header > .header-logo {
            padding: 0;
        }

            header > .header-logo > div {
                padding: 0;
            }

                header > .header-logo > div > a {
                    text-decoration: none;
                }

                    header > .header-logo > div > a > img {
                        width: 7em;
                        padding: 0em 1em 0em 0em;
                    }

                    header > .header-logo > div > a > .header-logo-text-line-1 {
                        font-family: arial;
                        font-size: 2.2em;
                        font-weight: bold;
                        color: rgb(66,89,159);
                        padding: 0;
                        padding-top: 0.3em;
                        margin: 0;
                    }

                    header > .header-logo > div > a > .header-logo-text-line-2 {
                        font-family: arial;
                        font-size: 1.4em;
                        color: rgb(45,138,166);
                        padding: 0;
                        margin: 0;
                    }

        header > .header-menu {
            margin: 0;
            padding: 0;
        }

            header > .header-menu > .header-menu-1 {
                margin: 0;
                padding: 0;
                padding-top: 0.6em;
                padding-left: 4.3em;
            }

                header > .header-menu > .header-menu-1 > ul {
                    width: 24.75em;
                    padding: 0;
                    margin-right: -1em;
                }

                    header > .header-menu > .header-menu-1 > ul > li {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        text-align: right;
                    }

                        header > .header-menu > .header-menu-1 > ul > li > a {
                            text-decoration: none;
                            color: rgb(117,117,117);
                            font-family: arial;
                            font-size: 0.9em;
                        }

                            header > .header-menu > .header-menu-1 > ul > li > a:hover {
                                color: rgb(74,166,189);
                            }

                header > .header-menu > .header-menu-1 > .header-search {
                    border-left: 1px solid rgb(181,181,181);
                    border-right: 1px solid rgb(181,181,181);
                    width: 11.7em;
                    padding: 0;
                    padding-left: 0.6em;
                    margin-top: -2px;
                }

                    header > .header-menu > .header-menu-1 > .header-search > .header-txt-search {
                        width: 8em;
                    }

                    header > .header-menu > .header-menu-1 > .header-search > .header-btn-search {
                        padding: 0;
                        padding-left: 0.5em;
                    }

                        header > .header-menu > .header-menu-1 > .header-search > .header-btn-search > img {
                        }

                header > .header-menu > .header-menu-1 > .header-phone {
                    padding: 0;
                    text-decoration: none;
                    font-weight: bold;
                    color: rgb(91,91,91);
                }

                    header > .header-menu > .header-menu-1 > .header-phone > img {
                        margin-top: -5px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }


            /*Menu thứ 2*/
            header > .header-menu > .header-menu-2 {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                display: inline-flex;
            }

                header > .header-menu > .header-menu-2 > nav {
                    width: 70%;
                    padding: 0;
                    margin: 0;
                    margin-left: 1.25em;
                    background: rgb(255, 255, 255);
                    border: none;
                }

    .navbar-inverse {
        background-color: #fff;
        position: absolute;
    }

    header > .header-menu > .header-menu-2 > nav > .container-fluid {
        padding: 0;
    }

        /*Khung chứa menu*/
        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse {
            text-align: center;
            padding: 0;
        }

            /*Menu tầng 1*/
            header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 {
                list-style: none;
                width: 100%;
                padding: 0;
                margin: 0;
                margin-right: -3em;
            }



                header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li {
                    list-style: none;
                    width: 26%;
                    padding: 0;
                    margin: 0;
                    margin-right: -0.5em;
                }

                    header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > a {
                        font-family: Roboto-Medium;
                        font-size: 1.3em;
                        color: rgb(90,96,99);
                        text-transform: uppercase;
                        text-decoration: none;
                        background: rgb(255, 255, 255);
                        padding: 0.5em 1em;
                    }

                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > a:hover {
                            color: rgb(0,120,174);
                        }


                    /*Menu tầng 2*/
                    header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 {
                        background: rgb(255, 255, 255);
                        border: solid rgb(0, 157, 220);
                        border-width: 3px 0;
                        box-shadow: 0 3px 3px 1px rgba(213,223,228,1);
                        position: absolute;
                        z-index: 99;
                        width: auto;
                        list-style: none;
                        padding: 0;
                        top: 2.55em;
                        left: 4em;
                        text-align: left;
                        display: none;
                        transform: translateX(-49.9%);
                        transition: all .1s linear;
                    }

                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2:before {
                            content: "";
                            width: 1.3em;
                            height: 1.3em;
                            background-color: rgb(0, 157, 220);
                            position: absolute;
                            top: -7px;
                            left: 50%;
                            transform: translateX(-50%) rotate(45deg);
                            z-index: 1;
                        }

                    header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li:hover > .menu-2 {
                        display: block;
                    }

                    header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li {
                        width: auto;
                        max-width: 100%;
                        white-space: nowrap;
                        position: relative;
                        z-index: 2;
                        border-bottom: 1px solid rgb(227, 227, 227);
                    }

                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > a {
                            background: rgb(255, 255, 255);
                            display: block;
                            font-family: Roboto-Medium;
                            font-size: 1.2em;
                            color: rgb(0, 157, 220);
                            padding: 1em 2em;
                            transition: all .1s linear;
                            text-decoration: none;
                        }

                            header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > a:hover {
                                background: rgb(0, 157, 220);
                                color: rgb(255, 255, 255);
                            }


                        /*Menu tầng 3*/
                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > .menu-3 {
                            background-color: rgb(250, 250, 250);
                            border-left: 5px solid rgb(0, 170, 238);
                            position: absolute;
                            top: 0;
                            left: 100%;
                            box-shadow: 0 1px 2px 0px rgba(213,223,228,.7);
                            transition: all .1s linear;
                            z-index: 1;
                            width: auto;
                            display: none;
                            padding: 0;
                            margin-left: auto;
                        }

                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li:hover > .menu-3 {
                            display: block;
                        }

                        header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > .menu-3 > li {
                            background-color: rgb(250, 250, 250);
                            max-width: 100%;
                            transition: background-color .1s linear,opacity .1s linear;
                            list-style: none;
                        }

                            header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > .menu-3 > li > a {
                                font-family: Roboto-Regular;
                                font-size: 1.1em;
                                color: rgb(90, 96, 99);
                                padding: 15px 25px;
                                transition: all .1s linear;
                                display: block;
                                text-decoration: none;
                                border-bottom: 1px solid rgb(227, 227, 227);
                            }

                                header > .header-menu > .header-menu-2 > nav > .container-fluid > .navbar-collapse > .menu-1 > li > .menu-2 > li > .menu-3 > li > a:hover {
                                    color: rgb(144, 196, 4);
                                    background: rgb(255, 255, 255);
                                    border-bottom: 1px solid rgb(144, 196, 4);
                                }

    /*Nút đăng ký tư vấn*/
    header > .header-menu > .header-menu-2 > .suicide {
        border-left: 0.1em solid rgb(117,117,117);
        float: right;
        position: absolute;
        overflow: hidden;
        right: 0%;
    }

        header > .header-menu > .header-menu-2 > .suicide > a {
            font-family: Roboto-Black;
            font-size: 1em;
            color: rgb(144,196,4);
            text-decoration: none;
            text-transform: uppercase;
            transition: color .3s linear;
        }

            header > .header-menu > .header-menu-2 > .suicide > a::after {
                content: "\bb";
                padding-left: 0.2em;
                top: 0.08em;
                font-size: 2em;
                position: relative;
            }

            header > .header-menu > .header-menu-2 > .suicide > a:hover {
                color: rgb(0,120,174);
            }


    /*Footer*/
    footer {
        background: url(../images/footer-bg.png);
        padding: 2em 0em 1em 0em;
    }

        footer > div {
            padding: 0;
        }

            footer > div > a {
                padding: 0;
            }

                footer > div > a > span {
                    background: url(../images/icon.png) -471px -1px no-repeat;
                    width: 75px;
                    height: 75px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    transition: top .4s ease-out;
                }

                footer > div > a > div {
                    left: -5em;
                    bottom: 0em;
                }

                    footer > div > a > div > .title {
                        font-family: Roboto-Bold;
                        font-size: 1.7em;
                        background-color: rgba(0,0,0,.4);
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: rgb(51, 106, 168);
                        padding: 10px 18px 5px 50px;
                        display: inline-block;
                        margin: 0;
                    }

                    footer > div > a > div > .detail {
                        font-family: Roboto-Light;
                        background-color: rgba(0,0,0,.4);
                        display: block;
                        width: 23em;
                        color: rgb(121, 129, 133);
                        font-size: 1em;
                        line-height: 16px;
                        font-weight: 700;
                        padding: 10px 20px 10px 50px;
                        border-right: 4px solid rgba(51,106,168,.5);
                    }

            footer > div > iframe {
                margin-left: 21.2em;
            }

        footer > ul {
            display: inline-flex;
            list-style: none;
        }

            footer > ul > li {
                margin-right: 4.5em;
            }

                footer > ul > li > a {
                    font-family: Roboto-Medium;
                    font-size: 1.5em;
                    color: rgb(121, 129, 133);
                }

                    footer > ul > li > a:hover {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                    }
}
