body {
}

.service {
}

    /* Phần menu */
    .service > .menu {
        background: url(../images/Services/menu-3.png);
        padding: 0;
    }

        .service > .menu > p {
            font-family: Roboto-Medium;
            font-size: 3.5em;
            color: white;
            padding: 0;
            margin-top: 0.55em;
        }

        .service > .menu > ul {
            list-style: none;
            padding: 0;
            margin-top: 3em;
            margin-bottom: 0.5em;
        }

            .service > .menu > ul > li {
                width: 14.5em;
                padding: 0;
                margin-right: 1em;
            }

                .service > .menu > ul > li > a {
                    font-family: Roboto-Bold;
                    font-size: 1.2em;
                    color: white;
                    text-transform: uppercase;
                    display: block;
                    background: linear-gradient(to right,rgba(0,135,189,1) 0,rgba(0,135,189,1) 50%,rgba(0,170,238,1) 50%,rgba(0,170,238,1) 100%) 0 0/200% 100%;
                    text-shadow: 0 -1px 0 rgb(0, 76, 110);
                    border: 1px solid #00618a;
                    border-color: rgb(0, 91, 129) rgb(0, 111, 156) rgb(0, 97, 138) rgb(0, 100, 141);
                    box-shadow: 1px 1px 0 0 #008fcd;
                    padding: 12px 19px 11px;
                    position: relative;
                    overflow: hidden;
                    transition: all .3s linear;
                }

                    .service > .menu > ul > li > a:hover {
                        text-decoration: none;
                        color: white;
                        background-position: -100% 0;
                    }

                    .service > .menu > ul > li > a:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 5px;
                        height: 100%;
                        background: #0ae;
                        content: "";
                        transition: all .2s linear;
                    }

                /* Phần menu con */
                .service > .menu > ul > li > ul {
                    display: none;
                    background: white;
                    list-style: none;
                    box-shadow: 0 2px 4px rgb(90, 96, 99);
                    margin-left: 1px;
                    padding-top: 0.7em;
                    padding-bottom: 1.3em;
                    padding-right: 1em;
                    width: 20em;
                    transition: all .3s linear;
                }

                .service > .menu > ul > li:hover > ul {
                    display: block;
                    position: absolute;
                    z-index: 20;
                    transition: all .3s linear;
                }

                .service > .menu > ul > li > ul > li {
                    margin-left: -1.5em;
                    margin-top: 0.3em;
                }

                    .service > .menu > ul > li > ul > li > a {
                        font-size: 1.2em;
                        color: rgb(0, 157, 220);
                        text-decoration: none;
                        transition: all .3s linear;
                    }

                        .service > .menu > ul > li > ul > li > a:before {
                            content: "»";
                            display: inline-block;
                            font-size: 1.4em;
                            margin-right: 0.3em;
                        }

                        .service > .menu > ul > li > ul > li > a:hover {
                            color: rgb(144, 196, 4);
                        }


    /* Phần banner */
    .service > .banner {
        background-image: url(../images/Services/banner-bg.png);
        background-color: rgb(245,248,249);
        background-repeat: no-repeat;
        height: 1%;
        overflow: hidden;
        box-shadow: 0 3px 3px rgba(132,136,138,.3);
        padding: 0;
    }

        .service > .banner > .title {
            padding: 0;
            padding-right: 44em;
            margin-top: 7em;
            margin-bottom: 12.7em;
        }

            .service > .banner > .title .line-1 {
                font-family: Roboto-Light;
                font-size: 3.8em;
                color: rgb(0,120,174);
                font-weight: bold;
            }

            .service > .banner > .title .line-2 {
                font-family: Roboto-Light;
                font-size: 1.6em;
                color: rgb(135,138,140);
            }

                .service > .banner > .title .line-2 > span {
                    font-weight: bold;
                }


    /* Phần nội dung */
    .service > .content {
    }

        /* Phần nút chuyển xuống */
        .service > .content > .button-next-part {
            margin-top: -3.3em;
            margin-bottom: 10em;
        }

            .service > .content > .button-next-part > a {
                background-color: white;
                display: block;
                height: 6.5em;
                width: 6.5em;
                border: 0.4em solid rgb(17, 152, 208);
                border-radius: 50%;
                padding: 0;
                padding-left: 0.4em;
                padding-top: 2.5em;
                transition: all .3s;
                margin: 0px auto;
            }

                .service > .content > .button-next-part > a:hover {
                    padding-top: 3em;
                }

                .service > .content > .button-next-part > a > img {
                    width: 4.5em;
                }

        /* Nội dung từng dịch vụ */
        .service > .content > .detail {
            margin-bottom: 7em;
        }

            /* Icon dịch vụ */
            .service > .content > .detail > a {
                display: block;
                width: 240px;
                height: 240px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: 6px solid #fff;
                line-height: 229px;
                text-align: center;
                background: linear-gradient(135deg,rgba(246,246,245,1) 0,rgba(255,255,255,1) 55%);
                box-shadow: -7px -7px 10px rgba(95,128,7,.15);
            }

                .service > .content > .detail > a > img {
                    width: 60%;
                }

            /* Tiêu đề dịch vụ, nội dung và nút xem thêm */
            .service > .content > .detail > div {
                margin-top: 3em;
            }

                /* Tiêu đề và nội dung dịch vụ */
                .service > .content > .detail > div > div {
                }

                    /* Tiêu đề */
                    .service > .content > .detail > div > div > a {
                        font-family: Roboto-Bold;
                        font-size: 2.3em;
                        color: rgb(113,152,13);
                        text-decoration: none;
                    }

                    /* Nội dung */
                    .service > .content > .detail > div > div > p {
                        font-family: Roboto-Regular;
                        font-size: 1.2em;
                        color: rgb(90,96,99);
                        margin-top: 0.5em;
                    }

                    /* Từng tiêu đề của từng dịch vụ */
                    .service > .content > .detail > div > div > .l1 {
                        color: rgb(135, 47, 159);
                    }

                    .service > .content > .detail > div > div > .l2 {
                    }

                    .service > .content > .detail > div > div > .l3 {
                        color: rgb(0, 157, 220);
                    }

                    .service > .content > .detail > div > div > .l4 {
                        color: rgb(213, 127, 15);
                    }

                /* Nút xem thêm */
                .service > .content > .detail > div > a {
                    display: inline-block;
                    font: 1.2em/1.1em Roboto-Black;
                    color: white;
                    padding: 0.55em 3em;
                    text-shadow: 0 -0.05em 0 rgb(68,117,35);
                    border-radius: 1em;
                    text-decoration: none;
                    transition: all .4s linear;
                    margin-top: 1em;
                }

                    .service > .content > .detail > div > a:hover {
                        color: white;
                        background-position: 0 -200%;
                        background-size: 100% 200%;
                    }

                /* Nút xem thêm của từng dịch vụ */
                .service > .content > .detail > div > .m1 {
                    background: linear-gradient(to bottom,rgba(171,75,197,1) 0,rgba(152,60,177,1) 47%,rgba(136,48,160,1) 100%) 0 0/100% 100%;
                }

                .service > .content > .detail > div > .m2 {
                    background: linear-gradient(to bottom,#a2d90c 0,#89bb00 100%) 0 0/100% 100%;
                }

                .service > .content > .detail > div > .m3 {
                    background: linear-gradient(to bottom,rgba(54,189,244,1) 0,rgba(25,172,231,1) 47%,rgba(2,158,221,1) 100%) 0 0/100% 200%;
                }

                .service > .content > .detail > div > .m4 {
                    background: linear-gradient(to bottom,rgba(243,144,15,1) 0,rgba(224,132,15,1) 47%,rgba(207,123,15,1) 100%) 0 0/100% 100%;
                }

            /* Dịch vụ chi tiết */
            .service > .content > .detail > ul {
                list-style: none;
                margin-top: 2.2em;
            }

                .service > .content > .detail > ul:after {
                    content: "";
                    background: url(../images/Services/content-more.png) no-repeat;
                    position: absolute;
                    left: -8em;
                    top: 6.7em;
                    width: 20em;
                    height: 2em;
                    transform: rotate(-90deg);
                }

                .service > .content > .detail > ul > li {
                    margin-left: 3.5em;
                }

                    .service > .content > .detail > ul > li > a {
                        font-family: Roboto-Medium;
                        font-size: 1.3em;
                        position: relative;
                        text-decoration: none;
                        transition: all 0.3s linear;
                    }

                        .service > .content > .detail > ul > li > a:before {
                            content: "»";
                            display: inline-block;
                            text-indent: 0.5em;
                            font-size: 1.4em;
                            margin-right: 0.3em;
                        }

            /* Dịch vụ chi tiết từng phần */
            .service > .content > .detail > .u1 > li > a {
                color: rgb(135, 47, 159);
            }

                .service > .content > .detail > .u1 > li > a:hover {
                    color: rgb(79, 30, 92);
                }

            .service > .content > .detail > .u2 > li > a {
                color: rgb(113,152,13);
            }

                .service > .content > .detail > .u2 > li > a:hover {
                    color: rgb(76, 102, 9);
                }

            .service > .content > .detail > .u3 > li > a {
                color: rgb(0, 157, 220);
            }

                .service > .content > .detail > .u3 > li > a:hover {
                    color: rgb(1, 119, 166);
                }

            .service > .content > .detail > .u4 > li > a {
                color: rgb(213, 127, 15);
            }

                .service > .content > .detail > .u4 > li > a:hover {
                    color: rgb(171, 102, 13);
                }

    /*Phần nhận thông tin mới nhất từ chúng tôi*/
    .service > .subscribe {
        background: url(../images/Homepage/take-news.png);
        width: 100%;
        height: 15;
        overflow: hidden;
        border-top: 0.1em solid #e5e5e5;
    }

        /*Phần khung nội dung chính*/
        .service > .subscribe > .content {
            border: 1px solid rgb(214,214,214);
            border-left: none;
            border-radius: 0 5px 5px 0;
            padding: 0;
            padding-bottom: 0.5em;
            margin-top: 3em;
            margin-bottom: 3em;
        }

            .service > .subscribe > .content::before {
                content: "";
                position: absolute;
                left: -5.8em;
                top: -0.2em;
                width: 5.3em;
                height: 4em;
                background: url(../images/Homepage/take-news-icon.png) no-repeat;
                background-position: -58px -3px;
                display: block;
            }

            .service > .subscribe > .content::after {
                content: "";
                position: absolute;
                left: -80px;
                bottom: -1px;
                width: 86px;
                height: calc(100% - 4em);
                background: url(../images/Homepage/take-news-border.png) 0 100% no-repeat;
            }

            /*phần chữ*/
            .service > .subscribe > .content > .text {
                padding: 0;
                margin-left: -3em;
                margin-right: 1em;
            }

                .service > .subscribe > .content > .text > .title {
                    font-family: Roboto-Bold, sans-serif;
                    font-weight: bold;
                    font-size: 2.3em;
                    color: rgb(0,120,174);
                    margin: 0;
                    margin-top: 0.8em;
                }

                .service > .subscribe > .content > .text > .detail {
                    font-size: 1.1em;
                    color: rgb(90,96,99);
                    padding-right: 5em;
                }
            /*Phần ô điền email & nút đăng ký*/
            .service > .subscribe > .content > .form {
                width: 33em;
                padding: 0;
                margin: 0;
                margin-top: 4.5em;
                margin-right: 4em;
            }

                /*Phần ô điền email*/
                .service > .subscribe > .content > .form > form {
                }

                    .service > .subscribe > .content > .form > form > input {
                        font-style: italic;
                        font-size: 17px;
                        color: rgb(135,138,140);
                        width: 100%;
                        border-radius: 2em;
                        padding: 0.7em;
                        padding-left: 2em;
                        padding-right: 10em;
                        margin: 0;
                    }

                /*Nút đăng ký*/
                .service > .subscribe > .content > .form > .sign-up-btn {
                    position: absolute;
                    background: linear-gradient(to bottom,rgb(41, 207, 19) 0,rgb(51, 165, 36) 100%) 0 0/100% 100%;
                    font-family: Roboto-Black, sans-serif;
                    color: white;
                    font-size: 18px;
                    text-decoration: none;
                    text-shadow: 0 -1px 0 #447523;
                    border-radius: 2em;
                    cursor: pointer;
                    box-shadow: 0 -1px 0 #c9e973,0 1px 0 #5e8900;
                    top: 0.4em;
                    right: 0.5em;
                    padding: 0.3em 2.2em;
                    margin: 0;
                    transition: all .4s linear;
                }

                    .service > .subscribe > .content > .form > .sign-up-btn:hover {
                        color: white;
                        background-position: 0 -200%;
                        background-size: 100% 200%;
                    }

    /*Bản đồ và địa chỉ*/
    .service > .map-address {
        background: url(../images/Homepage/address-background.png) 50% 50%/cover no-repeat;
        border-top: solid 1px #054159;
    }

        .service > .map-address > .content {
            padding: 0;
            padding-top: 2em;
            padding-bottom: 1.5em;
            margin-top: 3em;
            margin-bottom: 3em;
            position: relative;
            border: 1px solid rgba(86,207,255,.3);
            border-left: none;
            border-radius: 0 5px 5px 0;
        }

            .service > .map-address > .content::before {
                content: "";
                position: absolute;
                left: -4em;
                top: -0.5em;
                width: 52px;
                height: 74px;
                background: url(../images/Homepage/take-news-icon.png) -3px -3px no-repeat;
            }

            .service > .map-address > .content::after {
                content: "";
                position: absolute;
                left: -3.9em;
                bottom: -0.1em;
                width: 55px;
                height: calc(100% - 63px);
                background: url(../images/Homepage/address-border.png) 0 100% no-repeat;
            }

            .service > .map-address > .content > .address-info {
                padding: 0;
                color: white;
            }

                .service > .map-address > .content > .address-info > .company-name {
                    font-family: Roboto-Bold, sans-serif;
                    font-weight: bold;
                    font-size: 3em;
                }

                .service > .map-address > .content > .address-info > .address {
                    font-size: 1.4em;
                    margin-top: 1em;
                }

                .service > .map-address > .content > .address-info > .phone {
                    font-size: 1.2em;
                    margin-top: 2em;
                    margin-left: 2em;
                }

                    .service > .map-address > .content > .address-info > .phone::before {
                        content: "";
                        background: url(../images/Homepage/take-news-icon.png) -132px -3px no-repeat;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        left: 0;
                    }

            .service > .map-address > .content > img {
                position: absolute;
                width: 35em;
                padding: 0;
                margin: 0;
                margin-top: -15.9em;
                margin-left: 33em;
            }
