@{
    ViewBag.Title = "Home Page";
}

<div class="index col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--Banner-->
    <div class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="background col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <p class="line-1">Thiết kế website</p>
                <p class="line-2">Lập trình phần mềm, Maketing Online và một số dịch vụ khác</p>
                <p class="line-3 hidden-xs">Chúng tôi mang đến cho quý khách sự hài lòng và cách giải quyết vấn đề tốt nhất</p>
            </div>
            <div class="device col-xs-12 col-sm-6 col-md-6">
                <img src="~/images/Homepage/banner-computer.png" class="computer" />
                <img src="~/images/Homepage/banner-tablet.png" class="tablet" />
                <img src="~/images/Homepage/banner-phone.png" class="phone " />
            </div>
        </div>
        <!--logo các công ty đã làm-->
        <div class="icon col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/images/Homepage/banner-icon-1.png" />
            <img src="~/images/Homepage/banner-icon-2.png" />
            <img src="~/images/Homepage/banner-icon-3.png" />
            <img src="~/images/Homepage/banner-icon-4.png" />
            <img src="~/images/Homepage/banner-icon-5.png" />
        </div>
        <a href="#" class="line-4 col-xs-12 col-sm-5 col-md-5">Liên hệ với chúng tôi</a>
        <p class="sologan hidden-xs hidden-sm col-md-11 col-md-offset-1 col-lg-12">Chuyên nghiệp - Hiệu quả - Uy tín</p>
    </div>

    <!--Dịch vụ của chúng tôi-->
    <div class="my-service col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">Dịch vụ của chúng tôi</p>
        <div class="service-icon col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <a href="@Url.Action("Thietkewebsite","Home")" class="col-xs-6 col-sm-6 col-md-3">
                <span class="icon">
                    <img src="~/images/Homepage/my-service-icon-1.png" />
                </span><br />
                <span class="name n1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Thiết kế website
                </span>
            </a>
            <a href="@Url.Action("Thietkephanmem","Home")" class="col-xs-6 col-sm-6 col-md-3">
                <span class="icon">
                    <img src="~/images/Homepage/my-service-icon-2.png" />
                </span><br />
                <span class="name n2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Thiết kế phần mềm
                </span>
            </a>
            <a href="@Url.Action("Marketingonline","Home")" class="col-xs-6 col-sm-6 col-md-3">
                <span class="icon">
                    <img src="~/images/Homepage/my-service-icon-3.png" />
                </span><br />
                <span class="name n3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Marketing Online
                </span>
            </a>
            <a href="@Url.Action("Dichvukhac","Home")" class="col-xs-6 col-sm-6 col-md-3">
                <span class="icon">
                    <img src="~/images/Homepage/my-service-icon-4.png" />
                </span><br />
                <span class="name n4 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Dịch vụ khác
                </span>
            </a>
        </div>
    </div>

    <!--Những dự án tiêu biểu-->
    <div class="typical-project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="button-next-part col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--Nút chuyển xuống-->
            <a class="background" id="next-to-nhungduantieubieu" style="cursor: pointer">
                <img src="~/images/Homepage/share-arrow-another.png" />
            </a>
        </div>
        <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12" id="duantieubieu">
            <!--Tiêu đề lớn-->
            <p class="line-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">Những dự án tiêu biểu</p>
            <p class="line-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">Những dự án tiêu biểu chúng tôi đã thực hiện cho khách hàng</p>
        </div>
        <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--Phần nội dung-->
            <div class="row-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-1.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-2.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-3.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
            </div>
            <div class="row-content hidden-xs hidden-sm col-md-12 col-lg-12">
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-1.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-2.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
                <a href="#" class="hover-project col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/Homepage/typical-project-img-3.png" />
                    <div class="box-info">
                        <p class="line-1">Website công ty xe tải</p>
                        <p class="line-2">Website công ty xe tải Website công ty xe tải Website công ty xe tải </p>
                    </div>
                </a>
            </div>
        </div>
        <!--Phần đăng ký thiết kế-->
        <div class="sign-up-web col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Bạn đã sẵn sàng khởi tạo website của riêng mình chưa ?</p>
            <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Đăng ký ngay</a>
        </div>
    </div>

    <!--Các dịch vụ khác-->
    <div class="another-service col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Phần tiêu đề lớn-->
        <div class="another-top col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="another-title">Dịch Vụ Khác</p>
            <p class="another-description">Bên cạnh những dịch vụ chính, chúng tôi còn cung cấp các giải pháp dịch vụ khác như dưới đây</p>
        </div>
        <!--Phần nội dung & nút xem thêm-->
        <div class="content col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <!--Phần nội dung-->
            <div class="icon col-md-12">
                <!--Các icon lớn về dịch vụ-->
                <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="#">
                            <img src="~/images/Homepage/another-service-design-icon.png" /><br />
                            Thiết Kế
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="#">
                            <img src="~/images/Homepage/another-service-manager-icon.png" /><br />
                            Quản Trị Web
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="#">
                            <img src="~/images/Homepage/another-service-even-icon.png" /><br />
                            Tổ Chức Sự Kiện
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="#">
                            <img src="~/images/Homepage/another-service-ads-icon.png" /><br />
                            Quảng Cáo
                        </a>
                    </li>
                </ul>
                <!--Phần dịch vụ chi tiết-->
                <div class="another-other col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <li><a href="#">Thiết kế website nhà hàng</a></li>
                        <li><a href="#">Thiết kế website bán hàng</a></li>
                        <li><a href="#">Thiết kế website spa - beauty</a></li>
                        <li><a href="#">Thiết kế website tin tức</a></li>
                        <li><a href="#">Thiết kế ảnh, biển quảng cáo</a></li>
                        <li><a href="#">Thiết kế cardvisit, tờ rơi, băng rôn</a></li>
                    </ul>
                    <ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <li><a href="#">Phần mềm quản lý nhà hàng</a></li>
                        <li><a href="#">Phần mềm quản lý bán hàng</a></li>
                        <li><a href="#">Phần mềm quản lý quán karaoke</a></li>
                        <li><a href="#">Phần mềm quản lý nhân sự</a></li>
                        <li><a href="#">Phần mềm quản lý kho</a></li>
                        <li><a href="#">Phần mềm quản lý khách sạn</a></li>
                    </ul>
                    <ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <li><a href="#">Quản trị website</a></li>
                        <li><a href="#">Quản trị fanpage</a></li>
                        <li><a href="#">Quảng cáo website (Google Ads)</a></li>
                        <li><a href="#">Quảng cáo fanpage (Facebook Ads)</a></li>
                        <li><a href="#">SEO Website</a></li>
                        <li><a href="#">SEO Fanpage facebook</a></li>
                    </ul>
                </div>
            </div>
            <!--Nút xem thêm-->
            <div class="another-close">
                <div class="another-close-button col-xs-12 col-sm-12 col-md-2 col-md-offset-5">
                    <img src="~/images/Homepage/another-service-more-icon.png" />
                </div>
            </div>
        </div>
    </div>

    <!--Nội dung chia sẻ-->
    <div class="share">
        <!--Nút chuyển xuống-->
        <div class="button-next-part col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="background" id="next-to-noidungchiase" style="cursor: pointer">
                <img src="~/images/Homepage/share-arrow-another.png" />
            </a>
        </div>
        <!--Tiêu đề lớn-->
        <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12" id="noidungchiase">
            <p>Nội Dung Chia Sẻ</p>
        </div>
        <!--Phần nội dung-->
        <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--Phần bài viết-->
            <div class="colum col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--Tiêu đề mục-->
                <div class="colum-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Bài viết</p>
                    <div class="colum-title-space col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
                </div>
                <!--Cột chứa bài viết-->
                <div class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <!--Nút xem thêm các bài viết khác-->
                <div class="more-content">
                    <a href="#">Xem tất cả bài viết</a>
                </div>
            </div>
            <!--Phần blog-->
            <div class="colum col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--Tiêu đề mục-->
                <div class="colum-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Blog</p>
                    <div class="colum-title-space col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
                </div>
                <!--Cột chứa bài viết-->
                <div class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <!--Nút xem thêm các bài viết khác-->
                <div class="more-content">
                    <a href="#">Xem tất cả bài viết</a>
                </div>
            </div>
            <!--Phần video-->
            <div class="colum col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--Tiêu đề mục-->
                <div class="colum-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Video</p>
                    <div class="colum-title-space col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
                </div>
                <!--Cột chứa bài viết-->
                <div class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <!--Từng bài viết-->
                    <div class="colum-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--Ảnh bài viết-->
                        <a href="#" class="colum-img">
                            <img src="~/images/Homepage/share-content-img.png" />
                        </a>
                        <!--Tiêu đề bài viết-->
                        <div class="colum-text">
                            <a href="#">Những quy tắc cần chú ý trong thiết kế website</a>
                        </div>
                        <!--Nút xem thêm-->
                        <a href="#" class="detail-text hidden-xs hidden-sm">Xem chi tiết</a>
                        <div class="hover col-md-12 col-lg-12">
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <!--Nút xem thêm các bài viết khác-->
                <div class="more-content">
                    <a href="#">Xem tất cả bài viết</a>
                </div>
            </div>
        </div>
    </div>

    <!--Nhận tin mới nhất từ chúng tôi-->
    <div class="subscribe col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="content col-xs-12 col-sm-12 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
            <div class="text col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="title">Nhận tin mới nhất từ chúng tôi</p>
                <p class="detail">và nhận những hướng dẫn , chia sẻ kinh nghiệm để phát triển công việc của bạn một cách tốt hơn</p>
            </div>
            <div class="form col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <form>
                    <input type="text" name="Email" value placeholder="Nhập email của bạn" />
                </form>
                <a href="#" class="sign-up-btn">Đăng ký</a>
            </div>
        </div>
    </div>

    <!--Bản đồ và địa chỉ-->
    <div class="map-address col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="content col-xs-12 col-sm-12 col-md-9 col-md-offset-2 col-lg-9 col-lg-2">
            <div class="address-info">
                <p class="company-name">Kết nối trẻ JSC</p>
                <p class="address">
                    Add: 75 Lâm Tường, Hồ Nam, Lê Chân, Hải Phòng<br />
                    Email: ketnoitre.jsc@gmail.com
                </p>
                <p class="phone">09.1415.6668 - 0888.04.6966</p>
            </div>
            <img src="~/images/Homepage/address-map.png" class="hidden-xs hidden-sm"/>
        </div>
    </div>
</div>


